
       
            html, body {
                background-color: #000;
                color: #636b6f;
                font-family: 'Nunito', sans-serif;
                font-weight: 200;
                font-size: 12px;
                height: 100vh;
                margin: 0;
            }
            .jp {
                font-family: 'Nunito', sans-serif;
                font-weight: 200;
                font-size: 12px;
                margin: 0;
            }

            .full-height {
                height: 100vh;
            }

            .flex-center {
                align-items: center;
                display: flex;
                justify-content: center;
            }
            

            .position-ref {
                position: relative;
            }

            .top-right {
                position: absolute;
                right: 10px;
                top: 18px;
            }

            .content {
                text-align: center;
            }

            .title {
                font-size: 84px;
                
                letter-spacing: 1.1rem;
                font-family: 'Archivo Black', sans-serif;
                
            }

            .links > a {
                color: #636b6f;
                padding: 0 25px;
                font-size: 13px;
                font-weight: 600;
                letter-spacing: .1rem;
                text-decoration: none;
                text-transform: uppercase;
            }
            .m-b-md {
                margin-bottom: 30px;
            }
            .container_2 {
                position: relative;
                text-align: center;
                color: black;
                }   

                                .container {
                                    position: relative;
                                    text-align: center;
                                    color: white;
                                    }   


                                    .bottom-left {
                                        position: absolute;
                                        bottom: 8px;
                                        left: 16px;
                                    }


                                    .top-left {
                                        position: absolute;
                                        top: 8px;
                                        left: 16px;
                                    }


                                    .top-right {
                                        position: absolute;
                                        top: 8px;
                                        right: 16px;
                                    }


                                    .bottom-right {
                                        position: absolute;
                                        bottom: 8px;
                                        right: 16px;
                                    }


                                    .centered {
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        transform: translate(-50%, -50%);
                                    }
                                    ul {
                                    list-style-type: none;
                                        margin: 50;
                                        padding: 50;
                                        overflow: hidden;
                                        background-color: Black;
                                    }
                                    
                                    li.a { 
                                            float: left;
                                            text-transform: uppercase;
                                            font-family: 'Cutive Mono', sans-serif;
                                    }
                                        

                                    li {
                                        float: Right;
                                        text-transform: uppercase;
                                        font-family: 'Cutive Mono', sans-serif;
                                    }
                                    li a {
                                        display: block;
                                        color: white;
                                        text-align: center;
                                        font-size: 12px;
                                        padding: 14px 16px;
                                        text-decoration: none;
                                    }
                                    li a:hover {
                                        background-color:#A9A9A9;
                                    }
                                    div.static {
                                        position: static;
                                        border: 3px solid #73AD21;
                                    }
                                    .footer {
                                        position: fixed;
                                        left: 0;
                                        bottom: 0;
                                        width: 100%;
                                        background-color: none;
                                        color: white;
                                        text-align: center;
                                        text-transform: uppercase;
                                        font-family: 'Nunito', sans-serif;
                                        font-size: 8px;
                                    }
                                    .rectangle {
                                    height:1200px;
                                    width: 600px;
                                    background-color: #555;
                                    }
                                    .parallax {
                                        /* The image used */
                                        background-image: url("gfx/x.jpg");
                                    
                                        /* Set a specific height */
                                        min-height: 500px; 
                                    
                                        /* Create the parallax scrolling effect */
                                        background-attachment: fixed;
                                        background-position: center;
                                        background-repeat: no-repeat;
                                        background-size: cover;
                                    }
                                    div.gallery {
                                        margin: 5px;
                                        border: 1px solid #ccc;
                                        float: left;
                                        width: 180px;
                                    }
                                    
                                    div.gallery:hover {
                                        border: 1px solid #777;
                                    }
                                    
                                    div.gallery img {
                                        width: 100%;
                                        height: auto;
                                    }
                                    
                                    div.desc {
                                        padding: 15px;
                                        text-align: center;
                                    }
                                    loc {
                                        border:none;
                                        background-color:black;
                                        padding-top: 60px;
                                        padding-right: 30px;
                                        padding-bottom: 50px;
                                        padding-left: 80px;
                                    }
                                    