    html, body {
    background-color: #000;
    color: white;
    font-family: 'Cutive mono', sans-serif;
    font-weight: 200;
    font-size: 12px;
    }
    ul {
    list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: Black;
    }
    
    li.a { 
            float: left;
            text-transform: uppercase;
            font-family: 'Cutive Mono', sans-serif;
    }
        

    li {
        float: Right;
        text-transform: uppercase;
        font-family: 'Cutive Mono', sans-serif;
    }
    li a {
        display: block;
        color: white;
        text-align: center;
        font-size: 12px;
        padding: 14px 16px;
        text-decoration: none;
    }
    li a:hover {
        background-color:#A9A9A9;
    }

    .container {
        position: relative;
        text-align: center;
        color: white;
        }   
    .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    .rectangle {
            position: absolute;
            top: 50%;
            left: 50%;
           
            height:800px;
            width: 600px;
            background-color: #555;
            }
    .title {
        position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        text-align: center;
        font-size: 80px;
        color: white;
        letter-spacing: 0.8rem;
        font-family: 'Archivo Black', sans-serif;
        
    }
    .frame {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 80px;
        letter-spacing: 0.8rem;
        font-family: 'Archivo Black', sans-serif;
        background-color: white;
        color: black;
        width: 1000px;
        border: 25px solid black;
        padding: 25px;
        margin: 25px;
        
    
    }
    